<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/b72c1baabd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Wine</title>
</head>
<body>
    <header class="header">
        <div class="box">
            <a href="/find-wine" id="mainName"><p>Find Wine</p></a>
            <div class="signin">
                <% if (user) { %>
                    <p class="welcome">Welcome, <%= user.name %> </p>
                    <a href="/users/signout" class="button">Sign Out</a>
                    <a href="/find-wine/new" class="button">Add Wine</a>
                <% } else {%>
                    <a href="/users/register" class="button">Register</a>
                    <a href="/users/signin" class="button">Sign In</a>
                <% } %> 


            </div>
        </div>
        <br>
    </header>