<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://kit.fontawesome.com/b72c1baabd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Wine</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation" id="navHeader">
        <div class="navbar-brand">
          <a class="navbar-item" href="/find-wine">
            <p id="mainName">find-wine</p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
      
            <a class="navbar-item">
              Documentation
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Wines
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if (user) { %>
                    <p class="welcome">Welcome, <%= user.name %> </p>
                    <a href="/users/signout" class="button">Sign Out</a>
                    <a href="/find-wine/new" class="button">Add Wine</a>
                <% } else {%>
                    <a href="/users/register" class="button">Register</a>
                    <a href="/users/signin" class="button">
                        Sign In
                    </a>
                <% } %> 
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <script>
      document.addEventListener('DOMContentLoaded', () => {
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');
              });
          });
      });
    </script>