@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
}

.err-msg {
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
    
}

.body {
    margin: 0 50px 0 50px;
}

.signin {
    text-align: right;
}

.signinP {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.welcome {
    padding-bottom: 4px;
    padding-right: 10px;
    font-family: 'Rubik Bubbles', cursive;

}

#buttonBox {
    overflow: auto;
    white-space: nowrap;
}

#buttonMenu {
    display: inline-block;
    white-space: nowrap;
}

#mainName {
    font-family: 'Rubik Bubbles', cursive;
    color: black;
    font-size: 25px;
}

#wineList {
    color: black;
}

#scrollBar {
    overflow: auto;
    white-space: nowrap;
}

#scrollMenu {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

#box {
    height: auto;
}

#navHeader {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.homeP {
    margin-top: 30%;
}

.homeP p{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.indexP {
    font-family: 'Josefin Sans', sans-serif;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 80px;
}

/* search bar */
#searchResults {
    max-width: 600px;
    width: 95%;
    margin: 20px auto 0 auto;
}

#search-box {
    display: block;
    margin: 0px auto 20px auto;
    padding: 10px 20px;
    max-width: 600px;
    width: 85%;
}
