* {
    margin: 0;
}

.signin {
    text-align: right;
}

#mainName {
    text-align: center;
    color: black;
    font-size: 25px;
}

#wineList {
    color: black;
}

#scrollBar {
    overflow: auto;
    white-space: nowrap;
}

#scrollMenu {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.img {
    max-width: 200px;
}
